body {
    background: rgb(210, 230, 255);
    background: linear-gradient(90deg, #61c5e0 41.26%, #50bfdd 100%);
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

.background-x {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0;
}

.background-y {
    background-image: url(/img/background-bottom-top.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 0;
}


.background-top {
    background-image: url(/img/background-top-only-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0;
}

.background-bottom {
    background-image: url(/img/background-bottom-only-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0.08em 0.09em 0 rgb(0 0 0 / 40%);
    letter-spacing: 10px;
}

.titles {
    font-size: 55px;
    margin-top: 70px;
}

@media screen and (max-width: 460px) {
    .titles {
        margin-top: 50px;
        font-size: 40px;
    }

    .background-x {
        background-image: none;

    }
}

@media screen and (max-width: 358px) {
    .titles {
        font-size: 30px;
    }
}

.custom-font {
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0.08em 0.09em 0 rgb(0 0 0 / 40%);
    font-size: 32px;
    letter-spacing: 3px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#messageCookie {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    z-index: 1000;
}

/* SECTION BANNER*/

#banner {
    color: #ffffff;
}

.wrapper {
    padding-top: 8rem;
    padding-bottom: 19rem;
}

.bannerDiv {
    margin-top: 175px;
}

.btn-rounded {
    border: 2px solid #f8f9fa !important;
    border-radius: 50px;
    padding: 10px 40px;
}

/*.btn-rounded:hover {*/
/*    transition: all 0.5s ease;*/
/*    transform-origin: 50% 50%;*/
/*    transform: scale(1.1);*/
/*}*/

.btn-no-fill:hover {
    background-color: transparent !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

/* END SECTION BANNER*/

/**/
.seo-link, .abc-link, .faq-link, .contact-link, .about-link {
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 16px 0 0 16px;
    background-color: #ffffff;
    box-shadow: 0 15px 45px 0 rgb(60 66 87 / 8%), 0 5px 25px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
}

.seo-link:hover,
.abc-link:hover,
.faq-link:hover,
.contact-link:hover,
.about-link:hover {
    transition: all 0.5s ease;
    transform-origin: 50% 50%;
    transform: scale(1.1);
}

.seo, .abc, .faq, .contact, .about {
    width: 30px;
    margin-top: 10px;
    margin-left: 12px;
}

/**/

/* SECTION TIMER*/

#timer-section {
    position: fixed;
    top: 60%;
    right: 0;
    z-index: 1000;
}

.timer {
    width: 50px;
    height: 50px;
    border-radius: 16px 0 0 16px;
    background-color: #ffffff;
    box-shadow: 0 15px 45px 0 rgb(60 66 87 / 8%), 0 5px 25px 0 rgb(0 0 0 / 12%);
    position: fixed;
    top: 63.5%;
    right: 0;
    cursor: pointer;
}

.timer:hover {
    transform: scale(1.1);
}

.clock-timer {
    width: 30px;
    margin-top: 10px;
    margin-left: 12px;
}

.timer-count {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 16px 0 0 16px;
    /*box-shadow: 0 15px 45px 0 rgb(60 66 87 / 8%), 0 5px 25px 0 rgb(0 0 0 / 12%);*/
    position: fixed;
    top: 57%;
    right: -150px;
}

.animate {
    transition: all 1s ease;
}

.animate.timer.move {
    right: 200px;
    transform: translate(100%, 0);
}

.animate.timer-count.move {
    right: 150px;
    transform: translate(100%, 0);
}

.animate.left.move {
    left: 100%;
    transform: translate(-100%, 0);
}

.animate.right.move {
    right: 100%;
    transform: translate(100%, 0);
}

.animate.top.move {
    top: 100%;
    transform: translate(0, -100%);
}

.animate.bottom.move {
    bottom: 100%;
    transform: translate(0, 100%);
}

/* END SECTION TIMER*/

/* SECTION COUNTER*/

#wordsCountSection {
    background-color: #ffffff;
}

.count-div {
    margin: auto;
    width: 90%;
    position: relative;
    top: -120px;
}

.count-textarea {
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 15px 45px 0 rgb(60 66 87 / 8%), 0 5px 25px 0 rgb(0 0 0 / 12%);
}

.stats {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto 2rem auto;
}

.stat-block {
    width: 20%;
}

.stats > div .num {
    color: #61c5e0;
}

.stats > div .label {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
}

.stats > div {
    padding: 0.5rem 3.3rem;
    text-align: center;
    /*border-right: 1px solid;*/
    height: 115px;
}

.stats > div:last-child {
    padding: 0.5rem 3.3rem;
    text-align: center;
    border-right: none;
}

.stats > div .num {
    display: block;
    font-size: 3.25rem;
    line-height: 3rem;
    font-weight: 600;
    text-shadow: 0.05em 0.075em 0 rgb(138 195 210 / 40%);
    letter-spacing: 10px;
}

@media screen and (max-width: 1280px) {
    .stats > div .num {
        font-size: 2.75rem;
        line-height: 3rem;
    }

    .stats > div .label {
        font-size: 1rem;
    }
}

/* END SECTION COUNTER*/

/* SEO SECTION */
#seoSection {
    background-color: #ffffff;
}

.googleSearcherResult {
    display: none;
}

@media screen and (max-width: 991px) {
    .googleSearcher {
        display: none;
    }

    .googleSearcherResult {
        display: block;
    }
}

.seo-div {
    margin: auto;
    width: 90%;
    position: relative;
    top: -120px;
    border-radius: 30px;
}

#seo-input {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 15px 45px 0 rgb(60 66 87 / 8%), 0 5px 25px 0 rgb(0 0 0 / 12%);
}

/* SEO SECTION END*/

/* CONTACT SECTION */
.bg {
    padding: 24px;
    border-radius: 16px
}

@media (max-width: 767.98px) {
    .bg {
        padding: 20px;
        border-radius: 14px
    }
}

.bg-big {
    padding: 32px;
    border-radius: 16px
}

.bg-big p {
    margin-bottom: 10px
}

@media (max-width: 767.98px) {
    .bg-big {
        padding: 20px;
        border-radius: 14px
    }
}

.bg-white {
    box-shadow: 0 10px 20px rgba(217, 217, 217, .3)
}

.bg-modal {
    background: #edeff5;
    border-radius: 16px;
    box-shadow: 15.0313px 20.0417px 50.1042px rgba(39, 110, 125, .15)
}

.bg-modal .modal__header {
    border-radius: 16px 16px 0 0
}

@media (max-width: 767.98px) {
    .bg-modal {
        border-radius: 14px
    }

    .bg-modal .modal__header {
        border-radius: 14px 14px 0 0
    }
}

.modal__header {
    background: #a52f2f;
    padding: 28px;
    text-align: center
}

.modal__header .h2, .modal__header .h3, .modal__header .small, .modal__header h2, .modal__header h3, .modal__header small {
    color: #fff;
    margin-bottom: 0
}

.modal__body {
    background: #edeff5;
    padding: 50px
}

@media (max-width: 575.98px) {
    .modal-dialog {
        width: calc(100% - 30px);
        top: 36px;
        transform: none !important
    }
}

.bg-modal .modal__header {
    padding: 12px 28px
}

.customP {
    font-size: 20px !important;
    font-weight: 500;
}

/* END CONTACT SECTION */

/* HOW WORKS */
#how-does-it-work {

}

#how-does-it-work-seo {
    min-height: 80vh;
    background-image: url(/img/background-top-only-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    top: -48px;
}

.numbered-list {
    list-style: none
}

.numbered-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px
}

.accordion-header button {
    font-size: calc(1.3rem + .6vw);
    text-align: left;
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0.08em 0.09em 0 rgb(0 0 0 / 40%);
    letter-spacing: 2px;
}

.accordion-body {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #53c1dd !important;
}

.accordion-button:focus {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    box-shadow: none !important;
}

.numbered-list .number {
    color: #2C31A7;
    width: 64px;
    min-width: 64px;
    margin-right: 10px;
    font-size: 64px;
    font-weight: 700;
    line-height: 48px
}

.numbered-list p {
    font-weight: 500;
    font-size: 24px;
}

.text-primary {
    color: #007bff !important
}

footer {
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    z-index: 1000;
    font-weight: bold;
}

/* END HOW WORKS */
